<h3><%= @topic.title %></h3>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.createSocket(<%= @topic.id %>)
  })
</script>

<div class="input-field col s6">
  <input id="comment" type="text">
  <button class="btn">Add Comment</button>
  <ul class = "collection">

  </ul>
</div>
